.gift {
  background-color: rgb(249, 246, 236);
  padding-bottom: 5rem;
  .gift__container {
    margin-bottom: 5rem;
    .gift__title {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 3rem;
      margin-top: 3rem;
      display: flex;
      justify-content: center;
    }
    .gift__box {
      display: flex;
      width: 100%;
    }
  }
}
