.test__slide {
  max-width: 100% !important;
  max-height: 100% !important;
}
.slider {
  margin-left: 10px !important;
  margin-bottom: 20px !important;
}
.listfilm__boy {
  margin-bottom: 20px !important;
}
.button__switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
