.history__ctn {
  h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  .list__transaction {
    .transaction__unit {
      display: flex;
      border: 1px solid black;
      .trans__ing {
        width: 20%;
        height: auto;
        img {
          width: 100%;
        }
      }
      .transaction__info {
        width: 100%;
        padding: 3rem 0;
        .content__left {
          font-size: 1.4rem;
        }
        .content__right {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }
  }
}
